<main class="container">
    <h2>Pessoas</h2>
    <button class="btn btn-primary" (click)="novo()">Novo</button>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Data nascimento</th>
                <th>Telefone</th>
                <th>Tipo pessoa</th>
                <th>Endereço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umPessoa of listaPessoas">
                <td>{{ umPessoa.nome }}</td>
                <td>{{ umPessoa.cpf }}</td>
                <td>{{ umPessoa.email }}</td>
                <td>{{ umPessoa.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                <td>{{ umPessoa.telefone }}</td>
                <td>{{ umPessoa.tipoPessoa }}</td>
                <td>{{ umPessoa.endereco }}</td>
                <td>
                    <button (click)="alterar(umPessoa)" class="btn btn-secondary">Alterar</button>
                    <button (click)="abrirConfirmacao(umPessoa)" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Pessoa</h5>
            </div>
            <div class="modal-body">
                Confirma a exclusão desta pessoa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>