<main class="container">
    <h2>Imovel</h2>
    <div class="card">
        <div class="card-body">

            <div class="form-group">
                <label for="txtNumro">Numero</label>
                <input type="text"
                [(ngModel)]="imovel.numero"
                class="form-control"
                id = "txtNumro">
            </div>

            <div class="form-group">
                <label for="txtBloco">Bloco</label>
                <input type="text"
                [(ngModel)]="imovel.bloco"
                class="form-control"
                id = "txtBloco">
            </div>

            <div class="form-group">
                <label for="txtqtdeQuartos">Quantidade de quartos</label>
                <input type="text"
                [(ngModel)]="imovel.qtdeQuartos"
                class="form-control"
                id = "txtqtdeQuartos">
            </div>

            <div class="form-group">
                <label for="txtqtdeBanheiros">Quantidade de banheiros</label>
                <input type="text"
                [(ngModel)]="imovel.qtdeBanheiros"
                class="form-control"
                id = "txtqtdeBanheiros">
            </div>

            <div class="form-group">
                <label for="txtvagaGaragem">Quantidade de vagas de garagem</label>
                <input type="text"
                [(ngModel)]="imovel.vagaGaragem"
                class="form-control"
                id = "txtvagaGaragem">
            </div>

            <div class="col-md-4">
                    <div class="form-group">
                        <label for="selStatus" class="form-label fw-bold text-primary">Status</label>
                        <select id="selStatus" class="form-select" [(ngModel)]="imovel.statusImovel">
                            <option [ngValue]="undefined" disabled>Selecione o status</option>
                            <option *ngFor="let opcao of opcoesStatus" [ngValue]="opcao.value">
                                {{ opcao.label }}
                            </option>
                        </select>
                    </div>
            </div>

            <div class="form-group">
                <label for="txtCondominio">Condominio</label>
                <select class="form-select" [(ngModel)]="imovel.condominio" [compareWith]="comparaCondominios">
                    <option *ngFor="let umCondominio of listaCondominio" [ngValue]="umCondominio">{{umCondominio.nome}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="txtProprietario">Proprietário</label>
                <select class="form-select" [(ngModel)]="imovel.proprietario" [compareWith]="comparaPessoas">
                    <option *ngFor="let umProprietario of listaProprietarios" [ngValue]="umProprietario">
                        {{umProprietario.nome}}
                    </option>
                </select>
            </div>

        </div>
        <button (click)="salvar()"
        class="btn btn-primary">Salvar</button>
    </div>
</main>
<!-- 
id:number;
    bloco:string;
    qtdeQuartos:number;
    qtdeBanheiros:number;
    vagaGaragem:number;
    statusImovel:string -->